<div class="container">
  <div class="row justify-content-center">
    <h5 style="padding:100px" ;>ADMIN
    </h5>
    <div class="col-md-6">
      <h5 style="padding:100px" ;>Create New Account
      </h5>
      <form style=" max-width: 400px;" action="/adminsignup" method="post">
        <div class="form-group">
          <label for="exampleInputName">Name</label>
          <input type="text" class="form-control" name="name" placeholder="Enter name">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" name="password" placeholder=" Password">
        </div>
        <a href="/adminlogin">Already have an account?
        </a>
        <button type="submit" class="btn btn-primary">Sign-Up</button>
      </form>
    </div>
  </div>
</div>